<%= javascript_include_tag :fckeditor %>

<%= error_messages_for :opinion %>
<%form_for [:admin,@opinion], :html => { :multipart => true } do |f|%>
Язык <b><%=lang_id(@lang)%></b>
<p>
<%= f.label 'Автор отзыва' %><br />
<%=f.text_field :name%>
</p>

<p>
    <%=ident_choice(@opinion)%>
</p>

<p>
    <%= f.label 'Школа, о которой отзыв' %><br>
    <%= f.select :course_id, Course.find(:all, :order =>"name ASC").map{|i| [i.name,i.id]} %>
</p>

<p>
<%= f.label 'Дополнительная информация об авторе отзыва(пока нигде не отображается)' %><br />
<%=f.text_area :about, :size=>"70x6"%>
</p>

<p>
<%= f.label 'Дата создания' %><br />
<%= f.date_select(:created_at) %>
</p>
<p>
<%= f.label 'Краткий текст отзыва' %><br />
<%=f.text_area :short_description, :size=>"70x6"%>
</p>

<p>
<%= f.label 'Текст отзыва' %><br />
<%= fckeditor_textarea(:opinion, :description, :toolbarSet => 'Simple', :width => '98%', :height => '300px') %>
</p>

<p>
    <% fields_for OpinionPhoto.new() do |member_f| %>
    <% photo = @opinion.opinion_photo  %>
    <% unless  @opinion.new_record? || photo.nil? %>
      <p><%= image_tag photo.public_filename(:view) %></p>
    <%end%>
    <%= member_f.label 'фото отзыва:' %><br />
    <%= member_f.file_field  :uploaded_data %>
    <%end%>
</p>

<p>
<%=f.submit 'Сохранить изменения' %>
</p>
<%end%>