<div id="top_cont">
    <%= courses(@program) %>
    <%= photo(@program) %>
</div>

<h2><%= @program.name %></h2>


<%= @program.description %>

<%= link_to 'редактировать', edit_admin_l_program_path(lang_id(@lang),@program), :class => "admin_edit_link"  if admin? %>