
<div id="menu">
        <% if admin? %>
            <div id="column_header">Админ-меню</div>
            <br />
          <ul class="sf-menu sf-vertical" style="padding-left:10px !important; margin-left:10px !important">
          <li><%= link_to "Статические страницы", admin_pages_path %></li>
          <li><%= link_to "Программы", admin_programs_path %></li>
          <li><%= link_to "Страны", admin_countries_path %></li>
          <li><%= link_to "Курсы", admin_courses_path %></li>
        </ul>
        <% end %>


        <div id="column_header">Рубрикатор</div>
        <br />

          <ul class="sf-menu sf-vertical" style="padding-left:10px !important; margin-left:10px !important">
          <% for item in Program.roots %>
            <li>
                <%= link_to item.name, l_program_path(lang_id(@lang),item.permalink), {:class => "sf-with-ul"} %>
                <%= sub_programs_menu(item){|i| render :partial=>"programs/program_menu_sub_item.html.erb", :locals =>{:it=>i} } unless item.leaf?%>
            </li>
          <% end %>
          </ul>

          <div id="contact">
            <div id="contact_up"></div>
            <div id="contact_center">

              <div id="contact_text">
                Санкт-Петербург:<br>
                Тел./факс:<br>
                <strong>+7 (812) 448-01-47</strong><br>
                <br>

                Нижний Новгород:<br>
                Тел./факс:<br>

                <strong>+7 (831) 278-77-05,<br>
                +7 (831) 278-77-03</strong><br>
                E-mail: <a href="mailto:info@studyline.ru">info@studyline.ru</a> </div>
            </div>
            <div id="contact_down"></div>
          </div>

          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>