
<div><img src="/images/menu/menu_top.gif" width="212px" height="9px"></div>
      <div>
      <a style="background-image: url(/images/menu/home_rol.gif); background-repeat: no-repeat; display: block;" href="#" class="rolla"></a>
      </div>
      <div>
      <a style="background-image: url(/images/menu/aboutus_rol.gif); background-repeat: no-repeat; display: block;" href="#" class="rolla"></a>
      </div>
      <div>
      <a style="background-image: url(/images/menu/services_rol.gif); background-repeat: no-repeat; display: block;" href="#" class="rolla"></a>
      </div>
      <div>
      <a style="background-image: url(/images/menu/testimonials_rol.gif); background-repeat: no-repeat; display: block;" href="#" class="rolla"></a>
      </div>
      <div>
      <a style="background-image: url(/images/menu/contacts_rol.gif); background-repeat: no-repeat; display: block;" href="#" class="rolla"></a>
      </div>

      <div><img src="/images/menu/menu_bot.gif" width="212px" height="24px"></div>
	<div id="header_left_rollover">
	<div>
	<a style="background-image: url(/images/menu/home.gif); background-repeat: no-repeat; display: block;" href="/<%=lang_id(@lang)%>/home" class="rolla"></a>
	</div>
	<div>
	<a style="background-image: url(/images/menu/aboutus.gif); background-repeat: no-repeat; display: block;" href="/<%=lang_id(@lang)%>/about_us" class="rolla"></a>
	</div>
	<div>
	<a style="background-image: url(/images/menu/services.gif); background-repeat: no-repeat; display: block;" href="/<%=lang_id(@lang)%>/services" class="rolla"></a>
	</div>
	<div>
	<a style="background-image: url(/images/menu/testimonials.gif); background-repeat: no-repeat; display: block;" href="/<%=lang_id(@lang)%>/opinions" class="rolla"></a>
	</div>
	<div>
	<a style="background-image: url(/images/menu/contacts.gif); background-repeat: no-repeat; display: block;" href="/<%=lang_id(@lang)%>/contacts" class="rolla"></a>
	</div>
	</div>
