<h3 style="margin-top:30px;">SEO</h3>
<p>
    <%= f.label :metatag_title %><br>
    <%= f.text_field :metatag_title %>
</p>

<p>
    <%= f.label :metatag_keywords %><br>
    <%= f.text_field :metatag_keywords %>
</p>

<p>
    <%= f.label :metatag_description %><br>
    <%= f.text_area :metatag_description, :size => "34x5" %>
</p>
