<%@locales=Localedb.find(:all)%>

<ul>
<% for country in @countries %>
  <li style="list-style:none"><a href="<%="/"+Localedb.global.short rescue ""%>/<%=country.permalink%>"><%=country.name%></a>
  <div class='admin_edit_actions' style="font-size:10pt;  padding-bottom:7px">
    <%@locales.each do |loc|%>
        <%=loc.short%><%= link_to image_tag("/images/edit_ico.gif",:alt=>"Редактировать"), edit_admin_l_country_path(loc.short,country) %>
    <%end%>
     | <%=link_to image_tag("/images/delete_ico.gif",:alt=>"Удалить"), admin_country_path(country), :method => :delete, :confirm => 'подтвердите удаление'%>
  </div>
  </li>
<%end%>
</ul>

<%= link_to 'Добавить страну', new_admin_l_country_path(lang_id(@lang)) %>